<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>双十一买什么喔？</title>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
<script>
    function findById() {
        var id = document.querySelector("#id").value;
        window.location.href = '/?id=' + id;
    }
    window.data = {{data|safe}}
</script>
<a href="/">点击这个按钮，找其他商品</a>
<div>输入你感兴趣的商品的id：<input type="text" id="id">
    <button onclick="findById()">点击按钮查看该id对应的商品</button>
</div>

<h4>作者：零零水。联系方式：QQ：20004604，微信：qq20004604</h4>
<h4>如果你有有趣或者值得购买的东西，想要分享给大家，可以加这个QQ群【双十一买什么呀，群号：850939752】，或者 <a href="https://jq.qq.com/?_wv=1027&k=5GBUAq9">点击链接加入群聊【双十一买什么呀】</a>
</h4>
<h4>当然，你也可以加入微信群，以下是二维码：</h4>
<img src="http://119.3.214.234/buywhat.png" alt="" width="246" height="312">
</body>
</html>